{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Out</title>
    <link rel="stylesheet" href="{% static 'landing/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-info">
            Your password has been set
        </div>
        <a href="{% url 'login' %}">Sign In Here</a>
    </div>
</body>
</html>
